*.obj
*.tlog
*.dll
*.lib
*.ipch
*.log
*.md
*.txt
*.sdf
*.sln
*.opensdf
*.pdb
*.bin
*.tlog
*.bmp
*.iobj
*.ipdb
*.set
*.ico
*.rc2
*.vcproj
*.vcxproj
*.filters
*.user
*.exe
*.rom
*.bin
*.ilk
*.qrc
*.zip
*.tlog

*.pptx
*.sdf
*.sln
*.filters
*.log
*.tlog
*.raw
*.user
*.vcxproj
*.tlog
.vs/BlemishV04/v14/.suo
*.jpg
*.csv
*.jpeg
*.jpg
*.jpg
*.jpg
*.suo
*.jpg
include
GeneratedFiles
